<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.account.dao.TranMapper">

    <insert id="insertTransaction" keyProperty="id">
        insert into transaction(user_id, account, type, sort, year, month, day, create_time, beizhu, location, way)
        values (#{userId}, #{account}, #{type}, #{sort}, #{year}, #{month}, #{day}, #{createTime}, #{beizhu},
                #{location}, #{way})
    </insert>

    <select id="getTranByYear" resultType="com.web.account.entity.Transaction">
        select id, user_id, account, type, sort, year, month, day, create_time, beizhu, way, location
        from transaction
        where year = #{year}
        <if test="type!=-1">and type=#{type}</if>
        <if test="sort!=-1">and sort =#{sort}</if>
        order by create_time desc
    </select>

    <select id="getTranByMonth" resultType="com.web.account.entity.Transaction">
        select id, user_id, account, type, sort, year, month, day, create_time, beizhu, way, location
        from transaction
        where year = #{year}
        and month = #{month}
        <if test="type!=-1">and type=#{type}</if>
        <if test="sort!=-1">and sort =#{sort}</if>
        order by create_time desc
    </select>

    <select id="getTranByDay" resultType="com.web.account.entity.Transaction">
        select id, user_id, account, type, sort, year, month, day, create_time, beizhu, way, location
        from transaction
        where year = #{year}
        and month = #{month}
        and day = #{day}
        <if test="type!=-1">and type=#{type}</if>
        <if test="sort!=-1">and sort =#{sort}</if>
        order by create_time desc
    </select>

    <select id="getTranByType" resultType="com.web.account.entity.Transaction">
        select id, user_id, account, type, sort, year, month, day, create_time, beizhu, way, location
        from transaction
        <if test="type!=-1">and type=#{type}</if>
        <if test="sort!=-1">and sort =#{sort}</if>
        order by create_time desc
    </select>

    <select id="getTran" resultType="com.web.account.entity.Transaction">
        select id,
               user_id,
               account,
               type,
               sort,
               year,
               month,
               day,
               create_time,
               beizhu,
               way,
               location
        from transaction
        where user_id = #{tp}
        order by create_time desc
    </select>

    <select id="sumin" resultType="double">
        select sum(account)
        from transaction
        where user_id = 1
    </select>

    <select id="sumout" resultType="double">
        select sum(account)
        from transaction
        where user_id = 0
    </select>

    <select id="sumdayout">
        select day, sum(account)
        from transaction
        where user_id = 0
          and year = #{year}
          and month = #{month}
        group by day
    </select>

    <select id="deleteTran" resultType="Integer">
        delete
        from transaction
        where id = #{id};
    </select>
    <select id="getDaySum" resultType="java.lang.Double">
        select sum(account)
        from transaction
        where year = #{year}
          and month = #{month}
          and day=#{day}
            and user_id=#{userId}
    </select>

    <update id="updateTran">
        update transaction
        set user_id=#{userId},
            account=#{account},
            type=#{type},
            sort=#{sort},
            year=#{year},
            month=#{month},
            day=#{day},
            create_time=#{createTime},
            beizhu=#{beizhu},
            way=#{way},
            location=#{location}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="gePie">

    </update>

</mapper>