<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.account.dao.UserMapper">
    <insert id="addUser" keyProperty="id">
        insert into user(username, balance, password)
        values (#{username}, #{balance}, #{password})
    </insert>
    <select id="getUserById" resultType="com.web.account.entity.User">
        select username, id, balance, password
        from user
        where id = #{id}
    </select>
    <select id="getUserByName" resultType="com.web.account.entity.User">
        select username, id, balance, password
        from user
        where username = #{username}
    </select>
    <update id="monthlimit">
        update user set month_limit=#{monthlimit}
    </update>
    <update id="yearlimit">
        update user set year_limit=#{yearlimit}
    </update>
    <select id="getmonthlimit" resultType="double">
        select month_limit from user where id = 1
    </select>
    <select id="getyearlimit" resultType="double">
        select year_limit from user where id = 1
    </select>
</mapper>